In [1]:
# function is Name Block
# Block of code that ve can run any time

**Function Declaration**

In [2]:
def func():
  print("hello manish")

func()

hello manish

**Input Fuction**

In [4]:
def greeting():
  name=input("enter your name ")
  print("hello",name)
greeting()

enter your namemanish
hello manish

**Function parameter Argument**

In [5]:
def man(username):
  print("hello",username)
man("manish")

hello manish

**Function varable Addition num**

In [6]:
def add(num1,num2):
  print(num1+num2)
add(10,20)

30

In [9]:
def func():
  print("Inside function",x+10)
  # Inside varible use
x=10
func()
print("After function",x)

Inside function 20
After function 10

**Globle varible Function**

In [11]:
def AgeAddd():
  global age
  age=20
  print("Inside Function",age)
AgeAddd()
print("Out side function",age)

Inside Function 20
Out side function 20

**conditional Function**

In [17]:
def num(n):
  if n%2==0:
    print("True")
  else:
    print("Fasle")
n=int(input("enter number "))
num(n)

enter number50
True

**Type of parameter and argument**

In [ ]:
# Type of parameter passing and argument:
# 1. Required parameter and argument
# 2. Keyword parameter and argument
# 3. Default parameter and argument
# 4. Variable length parameter and argument

In [21]:
def employee(eid,ename,email):
  print(f"Eid:{eid},Ename:{ename},Email:{email}")
employee(101,"manish","manish@gmail.com")

Eid:101,Ename:manish,Email:manish@gmail.com

**# positional Argumen**t

In [23]:

def employee(eid,ename,email):
  print(f"Eid:{eid},Ename:{ename},Email:{email}")
employee("manish","101","manish@gmail.com")

Eid:manish,Ename:101,Email:manish@gmail.com

**# Keyword argument**

In [22]:

def employee(eid,ename,email):
  print(f"Eid:{eid},Ename:{ename},Email:{email}")
employee(eid="101",ename="manish",email="manish@gmail.com")

Eid:101,Ename:manish,Email:manish@gmail.com

**Defclut argument**

In [24]:

def employee(eid,ename,email="manish@gmail.com"):
  print(f"Eid:{eid},Ename:{ename},Email:{email}")
employee(101,"manish")

Eid:101,Ename:manish,Email:manish@gmail.com

**Varible Length Argumet**

In [26]:
def employee(*data):
      print(data,type(data) )
employee()
employee("manish","101","manish@gmail.com")

() <class 'tuple'>
('manish', '101', 'manish@gmail.com') <class 'tuple'>

**Keyword varible Argumet**

In [27]:
def employee(**data):
      print(data,type(data) )
employee(email="manish@gmail.com")
employee(eid=101,ename="manish")

{'email': 'manish@gmail.com'} <class 'dict'>
{'eid': 101, 'ename': 'manish'} <class 'dict'>

**Args and Kwargs**

In [29]:
def manu(x):
  x=x+10
  print("x value in Function",x)

  # outside
num=10
manu(num)
print("outside",num)

x value in Function 20
outside 10

## ** Mutuable data Type:**

In [35]:
# mutuable data type
# list
# set
# dict

In [37]:
def manu(mylist):
  print("Inside fuction ",mylist,type(mylist))
  mylist.append(50)
  print("Inside fuction ",mylist,id(mylist))

# out side
list1=[10,20,30,40]
print("original:",list1, id(list1))
manu(list1)

original: [10, 20, 30, 40] 133168537297024
Inside fuction  [10, 20, 30, 40] <class 'list'>
Inside fuction  [10, 20, 30, 40, 50] 133168537297024

**Lambda Function**

In [42]:
# Normal Function and Lambda
def square(x):
  print(x**2)
square(10)
# ---------------------------------

# Lambda Function
Rok=lambda x:x**2
Rok(10)

100

100

**Return Keyword and show Return Value**

In [43]:
# Return Keyword
def mok(x):
  print(x+10)
x=mok(10)
print(x)

20
None

In [44]:
# Show Return Value
def mok(x):
  return x+10
x=mok(10)
print(x)

20

**Question in Loop in Function**

In [46]:
def mini(s):
  total=0
  for i in s:
    total+=i
  return total
mini([10,20,30,40])

100

In [52]:

def func(s):
  total=0
  for i in s:
    total+=1
    return {s:total}
func("hey manish")

{'hey manish': 1}